/*
font-family: 'PT Sans', sans-serif;
*/
/*header start*/
/*common start*/
body{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color:#010101;
}
/*common end*/
header{
	padding: 20px 0;
	background-color: #fcdb00;
}
.logo{}
.c_toggle{
	border:none;
}
.c_toggle:focus{
	outline: 0;
	box-shadow: none;
}
.menu{}
.menu ul{}
.menu ul li{}
.menu ul li a{
	font-size: 22px;
	font-weight: 700;
	color:#010101 !important;
	padding: 0 40px !important; 
	transition: .3s ease !important;
}
.menu ul li a:hover {
	color: #ffffff !important;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
/*header end*/
/*banner start*/
.banner{
	background-color: #fcdb00;
	padding: 20px 0 100px;
}
.c_carousel {
    bottom: -80px;
}
.c_carousel [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /*background-color: #fff;*/
    /*opacity: 0.5;*/
}
.c_carousel .active {
    opacity: 1;
}
.b_content{
	margin-top: 70px;
}
.b_content h1{
	margin: 0;
	font-size: 32px;
	font-weight: 700;
}
.b_content h2{
	margin: 20px 0 25px;
    font-size: 20px;
	font-weight: 400;
	color: #313841;
	letter-spacing: 2px;
}
.b_content p{
	margin: 0 0 30px;
	font-size: 16px;
	font-weight: 400;
	color: #555555;
	letter-spacing: 1px;
}
.b_icon{}
.b_icon li i{
	margin-right: 30px;
    font-size: 45px;
}
.b_image{}
.b_image img{}
/*banner end*/
/*feature section start*/
.feature{
	padding: 100px 0 120px;
}
.f_header{
}
.f_h1{
    margin:0 0 15px;
    font-size: 32px;
    font-weight: 700;
}
.f_p{
    font-size: 20px;
    color: #313841;
    line-height: 25px;
    letter-spacing: 2px;
}
.f_single{
	margin-top: 70px;
}
.f_icon{
	margin-top: 5px;
}
.f_icon i{
	font-size: 50px;
}
.f_body{
}
.f_body h2{
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 400;
}
.f_body p{
	color: #898989;
	letter-spacing: 2px;
}
/*feature section end*/
/*support section start*/
.support{
	padding: 100px 0 120px;
	background-color:#010101;
}
.yellow{
	color:#fcdb00;
}
.ash{
	color:#898989;
}
.c_form{
	margin-top: 40px;
	margin-bottom: 60px;
}
.c_email{
	width: 100%;
    height: 50px;
    font-family: 'PT Sans', sans-serif;
    color: #898989 !important;
    border: none;
}
.c_email:focus{
	outline: 0 !important;
	box-shadow: none !important;
}
.c_button{
	width: 100%;
    height: 50px;
    background-color: #fcdb00;
	font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color:#010101;
    text-transform: uppercase;
    border: none;
}
.c_button:focus{
	outline: 0 !important;
	box-shadow: none !important;
}
.c_button:hover{
	background-color: #ffffff;
}
.sup_icon i{
	margin:0 15px;
	font-size:42px;
	color:#fcdb00 !important;
}
/*support section end*/
/*footer start*/
footer{
	padding-bottom: 120px;
	background-color: #010101;
}
.f_1{
	color: #ffffff !important;
}
/*footer end*/
